:root{
    --main-bg-color: #41b349;
    --main-text-color: #333;
    --main-padding-left: 5vw;
}
@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
  }
  
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: var(--main-text-color);
}

#whatsapp{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}
#whatsapp img{
    max-width: 50px;
    max-height: 50px;
}
#logo{
    /* set max width */
    max-width: 40px;
    max-height: auto;
}
nav {
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: var(--main-padding-left);
    /* background-color: var(--main-bg-color); */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
/* make the navbar translucent */
    background-color: rgba(255, 255, 255, 0.8);
    /* glass blur effect */
    backdrop-filter: blur(10px);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}
nav ul li a:hover {
    background-color: #f0f0f0;
}

#lander{
    /* set bg-33.jpg as the background image */
    background-image: linear-gradient(111deg, rgb(25.49% 70.196% 28.627%) 0%, rgb(25.491% 70.196% 28.629% / 0.9999847412109375) 6.25%, rgb(25.508% 70.189% 28.645% / 0.999755859375) 12.5%, rgb(25.578% 70.163% 28.716% / 0.9987640380859375) 18.75%, rgb(25.767% 70.09% 28.906% / 0.99609375) 25%, rgb(26.167% 69.938% 29.308% / 0.9904632568359375) 31.25%, rgb(26.894% 69.661% 30.039% / 0.980224609375) 37.5%, rgb(28.091% 69.205% 31.242% / 0.9633636474609375) 43.75%, rgb(29.926% 68.505% 33.088% / 0.9375) 50%, rgb(32.596% 67.487% 35.773% / 0.8998870849609375) 56.25%, rgb(36.321% 66.067% 39.518% / 0.847412109375) 62.5%, rgb(41.347% 64.151% 44.572% / 0.7765960693359375) 68.75%, rgb(47.949% 61.634% 51.21% / 0.68359375) 75%, rgb(56.424% 58.404% 59.732% / 0.5641937255859375) 81.25%, rgb(67.098% 54.335% 70.465% / 0.413818359375) 87.5%, rgb(80.321% 49.294% 83.761% / 0.2275238037109375) 93.75%, rgb(96.471% 43.137% 100% / 0) 100% ), url('./assets/images/bg-33.jpg');
    min-height: 60vh;
    padding-top: 20vh;
    padding-left: var(--main-padding-left);
    color: white;
    display: flex;
    flex-direction: row;
    
}
#lander div{
    /*50% of the lander  */
    width: 50%;
}
#lander div h1{
    font-weight: bolder;
}
#lander div p{
    font-weight: 500;
    line-height: 1.5;
}
#lander h1{
    font-size: 3em;
}
#brands{
    padding-top: 3vh;
    padding-left: var(--main-padding-left);
    padding-right: var(--main-padding-left);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
#brands .logos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-items: center; /* Add this line */
    /* padding: 20px; */
}
#brands .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10%;
    padding: 5%;
}
#brands .card img{
    max-width: 25vh;
}


#stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    gap:2vw;
    padding-top:1vh;
    padding-bottom: 1vh;
    margin-top: 10px;
    background-color: #A4CAB6;
}
#stats .card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.5vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5%;
    width: 15%;
    padding: 1%;
    background-color: #69A794;
}
#stats .card h2{
    margin: 0;
    font-size: xx-large;
}
#stats .card p{
    margin: 0;
}

#clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
}
#clients .client_logos img{
    max-width: 30%;
}
#clients .client_logos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    padding-top: 7vh;
    padding-bottom: 7vh;
}

#mission{
    display: flex;
    flex-direction: row;
    gap:2vw;
    padding:10px;
}

#mission .card img{
    max-width: 50%;
}

#mission .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #c0c2b5;
    padding: 1vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5%;
    flex: 1 1 0px;
    min-width: 0;
}

#mission .card h2{
    margin: 0;
    font-size: xx-large;
    padding: 5px;
}

#mission .card p{
    margin: 0;
    font-weight: 500;
    line-height: 1.5;
    font-size: medium;
}
#mission #vision{
    background-color: #b3c0b7;
    justify-content: space-around;
}
#mission #values{
    background-color: #3a3b3d;
    color: white;
}

#footer{
    padding:10px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#map{
    max-width: 20vw;
    max-height: 20vw;
}